default_stages:
  - pre-commit

default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --verbose
        language: system
        types_or: [python, pyi]

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix --config=pyproject.toml
        language: system
        types_or: [python, pyi]

      - id: ty-check
        name: ty check
        entry: uv run ty check src/
        language: system
        types_or: [python, pyi]

      - id: docstring-coverage
        name: docstring coverage
        entry: uv run docstr-coverage src --badge docs/source/_static --percentage-only
        language: system
        types: [python]
        pass_filenames: false

  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: fix-byte-order-marker
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-xml
      - id: mixed-line-ending
      - id: check-symlinks
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
      - id: check-executables-have-shebangs

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0
    hooks:
      - id: commitizen
        stages:
          - commit-msg

  - repo: local
    hooks:
      - id: pytest
        name: pytest (quick)
        entry: uv run pytest -q --maxfail=1 --disable-warnings --cov-report=term-missing
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.4
    hooks:
      - id: uv-lock
